@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';

.warehouse-inventory-list {
    @include wrapper;
    @include divider-top;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
        @include divider-bottom;
        border-top: none;

        .warehouse-inventory-list__container {
            width: 183px;
        }

        .warehouse-inventory-list__container:nth-child(2) {
            width: 130px;
        }
        .warehouse-inventory-list__container:nth-child(4) {
            width: 90px;
        }

        .warehouse-inventory-list__container:nth-child(3) {
            width: 130px;
        }

        .warehouse-inventory-list__container:last-child {
            width: 60px;
        }

        .warehouse-inventory-list__container:nth-of-type(1) { order: 1; }
        .warehouse-inventory-list__container:nth-of-type(3) { order: 2; }
        .warehouse-inventory-list__container:nth-of-type(2) { order: 3; }
        .warehouse-inventory-list__container:nth-of-type(4) { order: 4; }
        .warehouse-inventory-list__container:nth-of-type(5) { order: 5; }
    }

    @include desktop {
        .warehouse-inventory-list__container {
           width: 140px;
        }

        .warehouse-inventory-list__container:nth-child(n+2) {
            width: 80px;
        }
    }

    &__container {
        width: 140px;
        margin-bottom: 16px;

        @include tablet {
            width: 170px;
        }

        @include desktop {
            width: 140px;
        }

        &--margin {
            margin-left: auto;

            @include tablet {
                margin-left: 0;
            }
        }

        &--buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__label {
        @include label;
        margin-bottom: 4px;

        @include tablet {
            display: none;
        }
    }

    &__link {
        @include list-link;
        display: flex;
        align-items: center;
    }

    &__status {
        @include status-font;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;

        &--is {
            width: 61px;
            height: 24px;
            background-color: rgba($green, 0.07);
            color: $green;
        }

        &--oos {
            width: 86px;
            height: 24px;
            background-color: rgba($red, 0.07);
            color: $red;
        }
    }

    &__paragraph {
        @include list-paragraph;
    }

    &__button {
        background-color: $white;
        border: 0;
    }
}