@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';

.warehouse-details {
    padding: 16px 0;

    @include tablet {
        padding: 24px 0;
    }

    @include wrapper;
    @include divider-top;
    
    &__heading {
        @include label;
    }

    &__text {
        @include list-paragraph;
        font-style: normal;
    }

    display: flex;
    flex-wrap: wrap;

    @include tablet {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__address {
        width: 220px;
        margin-bottom: 16px;
        @include tablet {
            width: 40%;
            border-right: 1px solid $cloud;
        }
    }

    &__contact-name {
        width: 50%;
        @include tablet {
            width: 30%;
            margin-left: 40px;
        }
    }

    &__contact-info {
        width: 50%;
        @include tablet {
            margin-left: 40px;
            width: 30%;
        }
    }
}