@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';

.total-inventory {
  position: relative;
  width: 91%;
  height: 2092px;
  margin: 0 auto;

  @include tablet {
    width: 91%;
    height: 605px;
  }

  @include desktop {
    width: 1020px;
  }

  &__container {
    width: 100%;
    height: 2092px;
    padding-top: 32px;
    background-color: $white;
    margin: 0 auto;
    border: 1px solid $light-grey;
    overflow: scroll;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    position: absolute;
    top: -70px;

    @include tablet {
      width: 100%;
      top: -100px;
      overflow: visible;
    }

    @include desktop {
      width: 100%;
      top: -100px;
    }
  }

  &__header {
    @include wrapper;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding-bottom: 22px;
    }
  }

  &__title {
    @include page-title;
  }

  &__search {
    @include search-bar;
  }
  &__search-input {
    @include search-bar-input;
  }

  &__button {
    @include add-button;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    @include tablet {
      font-size: 14px;
    }
  }

  &__heading-container {
    display: none;

    @include tablet {
      @include table-heading;
      @include wrapper;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      background-color: $light-grey;
    }
  }

  &__table-heading {
    display: flex;
    align-items: center;
    // width: 10px;

    @include desktop {
      width: 80px;
    }

    &--item {
      width: 130px;

      @include desktop {
        width: 140px;
      }
    }
  }

  &__table {
    @include tablet {
      height: 471px;
      overflow: scroll;
    }

    @include desktop {
      height: 511px;
      overflow: scroll;
    }
  }
}
