@font-face {
  font-family: "Titillium Web-normal";
  font-weight: normal;
  src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Titillium Web-bold";
  font-weight: bold;
  src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf);
}
.total-inventory {
  position: relative;
  width: 91%;
  height: 2092px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .total-inventory {
    width: 91%;
    height: 605px;
  }
}
@media (min-width: 1280px) {
  .total-inventory {
    width: 1020px;
  }
}
.total-inventory__container {
  width: 100%;
  height: 2092px;
  padding-top: 32px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #f7f8f9;
  overflow: scroll;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  position: absolute;
  top: -70px;
}
@media (min-width: 768px) {
  .total-inventory__container {
    width: 100%;
    top: -100px;
    overflow: visible;
  }
}
@media (min-width: 1280px) {
  .total-inventory__container {
    width: 100%;
    top: -100px;
  }
}
.total-inventory__header {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .total-inventory__header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) {
  .total-inventory__header {
    flex-direction: row;
    padding-bottom: 22px;
  }
}
.total-inventory__title {
  font-family: "Titillium Web-bold";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .total-inventory__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0;
    margin-right: auto;
  }
}
.total-inventory__search {
  height: 36px;
  width: 295px;
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid #bdc5d5;
  margin-bottom: 16px;
  outline: none;
  background-image: url(../assets/Icons/search-24px.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}
@media (min-width: 768px) {
  .total-inventory__search {
    height: 38px;
    width: 185px;
    margin-right: 16px;
  }
}
@media (min-width: 1280px) {
  .total-inventory__search {
    width: 274px;
  }
}
.total-inventory__search-input {
  border: none;
  outline: none;
  height: 36px;
}
.total-inventory__button {
  font-family: "Titillium Web-normal";
  background-color: #2e66e5;
  color: #ffffff;
  height: 36px;
  width: 295px;
  border-radius: 20px;
  padding: 8px, 103px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
@media (min-width: 768px) {
  .total-inventory__button {
    width: 128px;
    height: 38px;
  }
}
@media (min-width: 768px) {
  .total-inventory__button {
    font-size: 14px;
  }
}
.total-inventory__heading-container {
  display: none;
}
@media (min-width: 768px) {
  .total-inventory__heading-container {
    color: #5c667e;
    font-family: "Titillium Web-normal";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #f7f8f9;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .total-inventory__heading-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.total-inventory__table-heading {
  display: flex;
  align-items: center;
}
@media (min-width: 1280px) {
  .total-inventory__table-heading {
    width: 80px;
  }
}
.total-inventory__table-heading--item {
  width: 130px;
}
@media (min-width: 1280px) {
  .total-inventory__table-heading--item {
    width: 140px;
  }
}
@media (min-width: 768px) {
  .total-inventory__table {
    height: 471px;
    overflow: scroll;
  }
}
@media (min-width: 1280px) {
  .total-inventory__table {
    height: 511px;
    overflow: scroll;
  }
}
/*# sourceMappingURL=TotalInventory.css.map */