@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';

.warehouse-main {
    position: relative;
    width: 91%;
    height: 2092px;
    margin: 0 auto;

    @include tablet {
        width: 91%;
        height: 605px;
    }
        
    @include desktop {
        width: 1020px;
    }

    &__container {
        width: 100%;
        padding-top: 32px;
        background-color: $white;
        margin: 0 auto;
        border: 1px solid $light-grey;
        overflow: scroll;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 3px;
        position: absolute;
        top: -70px;

        @include tablet {
            width: 100%;
            top: -100px;
            overflow: visible;
        }

        @include desktop {
            width: 100%;
            top: -100px;
        }
    }
    
    &__header {
        @include wrapper;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            padding-bottom: 22px;
        }
    }

    &__title {
        @include page-title;
    }

    &__search {
        @include search-bar;
    }

    &__search:hover{
        border-color: $instock-indigo;
    }

    &__addbutton {
        @include add-button;
        cursor: pointer;
        @include tablet{
            width: 100%;
            padding: 8px 16px;
        }
        @include desktop{
            width: 100%;
            padding: 8px 16px;
        }
    }
    &__addbutton:focus {outline:0;}

    &__heading-container {
        display: none;
        
        @include tablet {
            @include table-heading;
            @include wrapper;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            background-color: $light-grey;
        }
        @include desktop{
            justify-content: space-between;
        }
    }

    &__table-heading {
        display: flex;
        align-items: center;
        
        
        @include tablet{
            // width: auto;
        }
        

        // @include desktop {
        //     width: auto;
            
        // }
        &--address{
            @include tablet{
                position: relative;
                left: 2vw;
                // width: 14vw;
            }
            // @include desktop{
            //     position: relative;
            //     right: 0.4vw;
            // }
            
        }
        &--name{
            @include tablet{
                margin:0  2rem;
               position: relative;
                left: 6vw;
            }

            @include desktop{
                position: relative;
                left: 6vw;
            }
            
        }

        &--info{

            @include tablet{
                position: relative;
                left: 1.5vw;
            }
            @include desktop{
                position: relative;
                left: 0vw;
            }
        }


        &--item {
            width: 130px;
            @include tablet{
                width: 15.5vw;
            }

            @include desktop {
                width: 9vw;
            }
        }
    }

    &__table {
        @include tablet {
            height: 471px;
            overflow: scroll;
        }

        @include desktop {
            height: 511px;
            overflow: scroll;
        }
    }
}