@font-face {
  font-family: "Titillium Web-normal";
  font-weight: normal;
  src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "Titillium Web-bold";
  font-weight: bold;
  src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf);
}

@mixin bold{
  font-family: "Titillium Web-bold";
  font-weight: 600;
}
@mixin normal{
  font-family: "Titillium Web-normal";
  font-weight: 400;
}



@mixin buttons{
    font-size: 13px;
    line-height: 20px;
    @include bold;
    @media(min-width: $tablet-breakpoint){
        font-size: 14px;
        line-height: 22px;
     }
     @media(min-width: $desktop-breakpoint){
        font-size: 14px;
        line-height: 22px;
     }
}

@mixin header{
  font-size: 26px;
    line-height: 36px;
    @include bold;
    @media(min-width: $tablet-breakpoint){
        font-size: 32px;
        line-height: 40px;
     }
}

@mixin mp2 {
  font-size: 13px;
    line-height: 20px;
    @media(min-width: $tablet-breakpoint){
        font-size: 14px;
        line-height: 22px;
     }
     
     
}

@mixin mp3 {
  font-size: 11px;
    line-height: 16px;
    @media(min-width: $tablet-breakpoint){
        font-size: 14px;
        line-height: 22px;
     }
     
     
}

@mixin mp1 {
  font-size: 15px;
    line-height: 26px;
    @media(min-width: $tablet-breakpoint){
        font-size: 16px;
        line-height: 28px;
     }
     
     
}
@mixin mh4 {
  font-size: 11px;
    line-height: 16px;
    @media(min-width: $tablet-breakpoint){
        font-size: 12px;
        line-height: 18px;
     }
}
@mixin subheader {
  font-size: 20px;
    line-height: 28px;
    @media(min-width: $tablet-breakpoint){
        font-size: 24px;
        line-height: 32px;
     }
     
}