// @use 'variables' as *;
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin divider-top {
  border-top: 1px solid $cloud;
}

@mixin divider-bottom {
  border-bottom: 1px solid $cloud;
}

@mixin wrapper {
  padding-left: 24px;
  padding-right: 24px;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@mixin back-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

@mixin page-title {
  font-family: $font-semi-bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;

  @include tablet {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0;
    margin-right: auto;
  }
}

@mixin search-bar {
  height: 36px;
  width: 295px;
  border-radius: 20px;
  padding: 8px 16px;
  border: 1px solid $cloud;
  margin-bottom: 16px;
  outline: none;
  background-image: url(../assets/Icons/search-24px.svg);
  background-repeat: no-repeat;
  background-position: 95%;

  @include tablet {
    height: 38px;
    width: 185px;
    margin-right: 16px;
  }

  @include desktop {
    width: 274px;
  }
}

@mixin search-bar-input {
  border: none;
  outline: none;
  height: 36px;
}

@mixin add-button {
  font-family: $font-regular;
  background-color: $instock-indigo;
  color: $white;
  height: 36px;
  width: 295px;
  border-radius: 20px;
  padding: 8px, 103px;
  border: 0;

  @include tablet {
    width: 128px;
    height: 38px;
  }
}

@mixin edit-button {
  font-family: $font-semi-bold;
  background-color: $instock-indigo;
  color: $white;
  height: 36px;
  width: 36px;
  border-radius: 20px;
  padding: 8px, 103px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    width: 81px;
    height: 38px;
  }
}

@mixin label {
  color: $slate;
  font-family: $font-regular;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
}

@mixin list-link {
  color: $instock-indigo;
  font-family: $font-semi-bold;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
}

@mixin list-paragraph {
  font-family: $font-regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;

  @include tablet {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

@mixin table-heading {
  color: $slate;
  font-family: $font-regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin page-heading {
  color: $instock-black;
  font-family: $font-regular;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
@mixin p1 {
  color: $instock-black;
  font-family: $font-regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

@mixin status-font {
  font-family: $font-regular;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;

  @include tablet {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }
}

//  Use this to get the side specs at different break-points
@mixin sideSpecs {
  padding: 0 1rem;
  @media (min-width: $tablet-breakpoint) {
    padding: 0 2rem;
  }
  @media (min-width: $desktop-breakpoint) {
    padding: 0 8.125rem;
  }
}

// Use this When applying the specs for the Card titles at different breakpoint (i.e Warehouses, Inventory etc)
@mixin headerSpecs {
  padding-left: 1.5rem;
  padding-top: 2rem;
}

// Specs for the searchbar
@mixin searchSpecs {
  margin: 0 1.5rem;
}
